<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include("./partials/headerLogueado") %> 
	<% } else {%>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Login -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar <% if (locals.errors) {%>
					<p style="color: red"><%= errors.message%>  </p> 
				<% } %></h2>
			</div>
			
			<form action="/login/loginUser" method="POST" class="loginform">
				<label>USUARIO</label><input name="email" type="email" placeholder="EMAIL" class = "logintype">
				<label>CONTRASEÑA</label><input name="contra" type="password" placeholder="CONTRASEÑA" class = "logintype">
				<label>RECUERDAME</label><input type="checkbox" class = "logincheck" name="recordarme">
				<button type="submit" class ="submitbutton"> LOG IN </button>
			</form>





	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>