<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include("./partials/headerLogueado") %> 
	<% } else {%>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form action="/perfil/modificar" method="POST" class="registroform">
				<label class = "registroformlabel">EMAIL</label><input type="email" placeholder="EMAIL" class = "registroinput" value="<%= datosUsuario.email%>" name="email">
				<label class = "registroformlabel">NOMBRE DE USUARIO</label><input type="text" placeholder="USUARIO" class = "registroinput" value="<%= datosUsuario.nombre%>" name="nombre">
				<label class = "registroformlabel">CONTRASEÑA</label><input type="password" placeholder="CONTRASEÑA" class = "registroinput" name="contra">
				<label class = "registroformlabel">FECHA DE NACIMIENTO</label><input type="date" placeholder="FECHA NACIMIENTO" class = "registroinput" value="<%= datosUsuario.fecha%>" name="fecha">
				<label class = "registroformlabel">NUMERO DE DOCUMENTO</label><input type="number" placeholder="NRO DOCUMENTO" class = "registroinput" value="<%= datosUsuario.dni%>" name="dni"> 
				<label class = "registroformlabel">FOTO DE PERFIL</label><input type="text" placeholder="FOTO DE PERFIL" class = "registroinput" value="<%= datosUsuario.foto_perfil%>" name="foto">
				<input type="hidden" name="id" value="<%= locals.user.id%>">
				<button type="submit" class = "registrobutton"> GUARDAR </button>
				<label class = "registroformlabel">Serás deslogueado cuando guardes tus cambios!</label>
			</form>

			<img src="/images/fotoperfiledit.jpeg" class ="fotoregistro">


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>