<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include("./partials/headerLogueado") %> 
	<% } else {%>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<% locals.user.foto %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">Hola! <%=  locals.user.nombre %> 
						<p><%=  locals.user.email %></p>
						<a href="/perfil/editar"> <!-- aca no se porq decia profile-edit.html -->
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="" class ="botonseguir">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<%for (let i=0; i<lista.length ; i++){ %>
				<div class="col-12 col-sm-6 col-lg-3">
				
					<section class="product-box">
						<a href="/producto/detalle/id/"> <!-- Esta ruta masomenos anda. Lleva a app js y de ahi se ejecuta la ruta /producto AAAAAAAAAAAERAREATRYDFUYIWDGQDOUYHWQODIUHWQOIDUHQWOIUDHOQWIUDHOIQWUDHOQIWUDHQKSHGAKSHJDGASKJ -->
							<figure class="product-box_image">
								<img src="" alt="aaa">
							</figure>
							<article class="product-box_data">
								<h2><%=lista.nombre%></h2>
								<p><%=lista.descripcion%></p>
								<p>Comentarios:  </p> 
							</article>
						</a>
					</section>
				</div>
			<%}%>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>	
</html>