<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.InfoUser != undefined) {%>
		<%- include("./partials/headerLogueado") %> 
	<% } else {%>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form action="/registrarme/guardar" method="POST" class="registroform"> <!-- aca antes decia login.html -->
				<% if (locals.errors) {%>
					<p style="color: red"><%= errors.message%></p> 
				<% } %>
				<label class = "registroformlabel">EMAIL</label><input name="email" type="email" placeholder="EMAIL" class="registroinput">
				<label class = "registroformlabel">NOMBRE DE USUARIO</label><input name="usuario" type="text" placeholder="USUARIO" class="registroinput">
				<label class = "registroformlabel">CONTRASEÑA</label><input name="contra" type="password" placeholder="CONTRASEÑA" class="registroinput">
				<label class = "registroformlabel">FECHA DE NACIMIENTO</label><input name="fechaNac" type="date" placeholder="FECHA NACIMIENTO" class="registroinput">
				<label class = "registroformlabel">NUMERO DE DOCUMENTO</label><input name="documento" type="number" placeholder="NRO DOCUMENTO" class="registroinput"> 
				<label class = "registroformlabel">FOTO DE PERFIL</label><input name="fotoPerfil" type="text" placeholder="FOTO DE PERFIL" class="registroinput">
				<button type="submit" class ="registrobutton"> REGISTRARME </button>
			</form>		

			<img src ="/images/registrofoto.jpg" alt ="fotaca" class ="fotoregistro">

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>