<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include("./partials/headerLogueado") %> 
	<% } else {%>
		<%- include("./partials/headerNoLogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">

			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>

			<% if (locals.errors) {%>
				<p class="products-title" style="color: red">
			<%= errors.message%> </p>
                <% } 

				else { %>	
			
					<%for (let i=0; i<lista.length; i++){ %>

						<div class="col-12 col-sm-6 col-lg-3">
						
						<section class="product-box">
							<a href="/producto/detalle/id/<%=lista[i].id%>"> 
									<figure class="product-box_image">
										<img src="<%=lista[i].imagen%>" alt="<%=lista[i].nombre%>">
									</figure>
									<article class="product-box_data">
										<h2><%=lista[i].nombre%></h2>
										<p><a class="link-profile" href="/perfil/id/<%=lista[i].usuario.id%>"><%=lista[i].usuario.nombre%></a></p>
										<p><%=lista[i].descripcion%></p>
										<p>Comentarios: <%=lista[i].comentarios.length%></p> 
									</article>
								</a>
						</section>
						</div>
							

						<% } %>
					<%}%>	

		</div>
		
	</div> 
	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>